@model dynamic
@{
    Layout = null;
}

<html>
<head>
    <title>SOClose Vote Tracker v1.1</title>
    
</head>
<body>
    <input id="questionIdInput" type="text" />
    <a id="btnSubmit" href="javascript:void(0);">Submit</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#btnSubmit').click(function() {
            var questionIdStr = $('#questionIdInput').val();
            var questionIds = questionIdStr.split(",");
            $.post('/Home/Poll', { questionIds: questionIds }, function() {
                location.reload();
            });
        });
    });
</script>
</body>
</html>
